<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This App is created by Huraira Hussain</p>
        <img class="potrait" src="img/3 cats house.jpg">

    </div>
    
    {{>footer}}
</body>



</html>